@model NewsModel

<section class="breadcrumb-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="breadcrumb-area-content">
					<h1>@Model.Title</h1>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="blog-details">
	<div class="container">
		<div class="row">
			<div class="col-lg-9">
				<div class="news-details">
					<div class="single-news">
						<div class="news-bg-1" style="background: url(@(PathTools.NewsImage+Model.ImageNews))!important;"></div>
						<div class="news-date">
							<h2><span>@DateTimeConvert.MonthToString(Model.CreateTime)</span> @Model.CreateTime.Day</h2>
							<h1>@Model.CreateTime.Year</h1>
						</div>
					</div>
					<h2>Transformers: @Model.Title</h2>
					<a href="#"><i class="icofont icofont-users"></i>Animation, Movie, Action, Sci-Fi</a>
					<a href="#"><i class="icofont icofont-comment"></i>1k Comments</a>
					<p>@Html.Raw(Model.Description)</p>
					<div class="detail-author">
						<div class="row flexbox-center">
							<div class="col-lg-6 text-lg-left text-center">
								<div class="details-author">
									<h4>By Admin:</h4>
									<img src="~/assets/img/author.png" alt="">
								</div>
							</div>
							<div class="col-lg-6 text-lg-right text-center">
								<div class="details-author">
									<h4>Share:</h4>
									<a href="#"><i class="icofont icofont-social-facebook"></i></a>
									<a href="#"><i class="icofont icofont-social-twitter"></i></a>
									<a href="#"><i class="icofont icofont-social-pinterest"></i></a>
									<a href="#"><i class="icofont icofont-social-linkedin"></i></a>
									<a href="#"><i class="icofont icofont-social-google-plus"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="text-center">
						<img src="~/assets/img/blog-detail.png" alt="">
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="blog-sidebar">
					<h4>Recent Posts</h4>
					<ul>
						<li><a href="#">Transformers: The Last Knight</a></li>
						<li><a href="#">Duis aute irure dolor in reprehenderit in voluptate</a></li>
						<li><a href="#">Nostrud exercitation ullamco laboris</a></li>
						<li><a href="#">Magnam aliquam quaerat voluptatem</a></li>
						<li><a href="#">Magnam aliquam quaerat voluptatem</a></li>
						<li><a href="#">Excepteur sint occaecat cupidatat proi</a></li>
					</ul>
					<h4>Recent Comments</h4>
					<ul>
						<li><a href="#">admin on Justice League</a></li>
						<li><a href="#">admin on Mask Man</a></li>
						<li><a href="#">admin on Angle Pori</a></li>
						<li><a href="#">admin on The Man</a></li>
						<li><a href="#">admin on WP Devil</a></li>
					</ul>
					<h4>Categories</h4>
					<ul>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Feature</a></li>
						<li><a href="#">Media</a></li>
						<li><a href="#">Movie</a></li>
						<li><a href="#">Trailers_video</a></li>
						<li><a href="#">Uncategorized</a></li>
					</ul>
					<h4>Archives</h4>
					<ul>
						<li><a href="#">February 2018</a></li>
						<li><a href="#">January 2018</a></li>
						<li><a href="#">March 2018</a></li>
						<li><a href="#">April 2018</a></li>
					</ul>
					<div class="portfolio-sidebar">
						<img src="~/assets/img/sidebar/sidebar1.png" alt="sidebar">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>