@using Movie_Website.Utilities
@model CastModel

<img src="@(PathTools.CastImageThumb+Model.ImageName)" alt="@Model.ImageName" />

<h3>@Model.Name</h3>

<p>@Model.Bio</p>

<span>Age: @Model.Age</span>
<br />

<a asp-area="Admin" asp-controller="Cast" asp-action="EditCast" asp-route-id="@Model.CastId" class="btn btn-outline-warning">Edit</a>